<h1>New invoice_header</h1>

<% form_for(@invoice_header) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :folio %><br />
    <%= f.text_field :folio %>
  </p>
  <p>
    <%= f.label :client_id %><br />
    <%= f.select :client_id, @clients, :selected => params[:client], :prompt => 'Select one ...' %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :paid %><br />
    <%= f.check_box :paid %>
  </p>
  <p>
    <%= f.label :payment_mode %><br />
    <%= f.select :payment_mode, @payment_modes, :selected => params[:payment_mode], :prompt => 'Select one ...' %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', invoice_headers_path %>
